<div class="footer-brand">
  <div class="footer-brand-logo">
    <a href="https://tiny.cloud/" target="_blank">
      <img src="{{{uiRootPath}}}/img/tiny-footer.svg" height="32">
    </a>
  </div>
  <div class="footer-brand-social-links-wrapper">
    <div class="footer-brand-social-links-list">
      <a href="https://github.com/mild-blue/opentiny" title="OpenTiny on Github" aria-label="OpenTiny on Github" target="_blank" rel="noopener">
        <svg class="footer-brand-social-links-icon" xmlns="http://www.w3.org/2000/svg" view-box="0 0 24 24">
          <g>
            <path d="M12,1 C5.9893592,0.938921784 1.06592606,5.75941041 1,11.77 C1.02281847,16.4500062 4.06001447,20.5817236 8.52,22 C9.07,22.1 9.27,21.77 9.27,21.48 L9.27,19.65 C6.21,20.3 5.56,18.21 5.56,18.21 C5.35629658,17.5539 4.92323219,16.9930461 4.34,16.63 C3.34,15.97 4.42,15.98 4.42,15.98 C5.12027975,16.0736186 5.739212,16.482556 6.1,17.09 C6.74561277,18.2095056 8.16908307,18.6054083 9.3,17.98 C9.35590713,17.4323821 9.60389175,16.9222423 10,16.54 C7.56,16.27 5,15.35 5,11.22 C4.9781802,10.1426797 5.37624267,9.09911049 6.11,8.31 C5.77582715,7.38506839 5.81528599,6.36631275 6.22,5.47 C6.22,5.47 7.15,5.18 9.22,6.57 C11.021894,6.0898385 12.918106,6.0898385 14.72,6.57 C16.82,5.18 17.72,5.47 17.72,5.47 C18.124714,6.36631275 18.1641729,7.38506839 17.83,8.31 C18.580802,9.08464704 19.0004498,10.121213 19,11.2 C19,15.34 16.42,16.25 14,16.52 C14.5365517,17.0409353 14.8117185,17.7747133 14.75,18.52 L14.75,21.47 C14.75,21.82 14.95,22.1 15.5,21.99 C19.9466587,20.5631431 22.9725241,16.4398971 23,11.77 C22.9340739,5.75941041 18.0106408,0.938921784 12,1" />
          </g>
        </svg>
      </a>
      <a href="https://github.com/mild-blue/opentiny" title="OpenTiny on Github" aria-label="OpenTiny on Github" target="_blank" rel="noopener">
        OpenTiny on Github
      </a>
    </div>
  </div>
</div>