<div class="footer-corporate">
  © Copyright {{{ year }}} Tiny Technologies Inc.
  <p class="footer-trademark">
    TinyMCE® and Tiny® are registered trademarks of Tiny Technologies, Inc.
  </p>
</div>