<div class="footer-links">
  <div class="footer-links-layout">
    <div class="footer-links-section-group">
      <div class="footer-links-section">
        <p class="footer-brand-social-links-title">
          Products
        </p>
        <a class="footer-links-section-link" data-marketing="footer-products-features" href="https://www.tiny.cloud/tinymce/">TinyMCE</a>
        <a class="footer-links-section-link" data-marketing="footer-products-drive" href="https://www.tiny.cloud/drive/">Drive</a>
        <a class="footer-links-section-link" data-marketing="footer-products-drive" href="https://www.tiny.cloud/moxiemanager/">MoxieManager</a>
      </div>
      <div class="footer-links-section">
        <p class="footer-brand-social-links-title">
          Pricing
        </p>
        <a class="footer-links-section-link" data-marketing="footer-pricing-tinymce" href="https://www.tiny.cloud/pricing/">TinyMCE</a>
        <a class="footer-links-section-link" data-marketing="footer-pricing-drive" href="https://www.tiny.cloud/pricing/drive/">Drive</a>
        <a class="footer-links-section-link" data-marketing="footer-pricing-moxiemanager" href="https://www.tiny.cloud/pricing/moxiemanager/">MoxieManager</a>
      </div>
    </div>
    <div class="footer-links-section-group">
      <div class="footer-links-section">
        <p class="footer-brand-social-links-title">
          Developers
        </p>
        <a class="footer-links-section-link" data-marketing="footer-developers-docs" href="https://www.tiny.cloud/docs/tinymce/latest/">Documentation</a>
        <a class="footer-links-section-link" data-marketing="footer-developers-get-started" href="https://www.tiny.cloud/auth/signup/">Get Started</a>
        <a class="footer-links-section-link" data-marketing="footer-developers-integrations" href="https://www.tiny.cloud/solutions/editor-framework-integration/">Integrations</a>
        <a class="footer-links-section-link" data-marketing="footer-developers-api-reference" href="https://www.tiny.cloud/docs/tinymce/latest/apis/tinymce.root/">API Reference</a>
        <a class="footer-links-section-link" data-marketing="footer-roadmap" href="https://www.tiny.cloud/roadmap/">Roadmap</a>
        <a class="footer-links-section-link" data-marketing="footer-developers-support" href="https://support.tiny.cloud/">Support</a>
        <a class="footer-links-section-link" data-marketing="footer-developers-blog" href="https://www.tiny.cloud/blog/">Blog</a>
        <a class="footer-links-section-link" data-marketing="footer-developers-alternatives" href="https://www.tiny.cloud/tinymce-alternatives/">Editor Comparisons</a>
        <a class="footer-links-section-link" data-marketing="footer-developers-get-tinymce" href="https://www.tiny.cloud/get-tiny/">Get TinyMCE Free</a>
      </div>
    </div>
    <div class="footer-links-section-group">
      <div class="footer-links-section">
        <p class="footer-brand-social-links-title">
          Company
        </p>
        <a class="footer-links-section-link" data-marketing="footer-tiny-about" href="https://www.tiny.cloud/about/">About</a>
        <a class="footer-links-section-link" data-marketing="footer-tiny-who-is-using-tiny" href="https://www.tiny.cloud/who-is-using-tinymce/">Who is Tiny?</a>
        <a class="footer-links-section-link" data-marketing="footer-tiny-careers" href="https://www.tiny.cloud/about/#careers">Careers</a>
        <a class="footer-links-section-link" data-marketing="footer-tiny-partners" href="https://www.tiny.cloud/partner-directory/">Partners</a>
        <a class="footer-links-section-link" data-marketing="footer-tiny-contact" href="https://www.tiny.cloud/contact/">Contact Us</a>
        <a class="footer-links-section-link" data-marketing="footer-tiny-legal" href="https://www.tiny.cloud/legal/">Legal</a>
        <a class="footer-links-section-link" data-marketing="footer-tiny-security" href="https://www.tiny.cloud/tinymce/security/">Security</a>
      </div>
    </div>
  </div>
</div>

