<a class="get-tinymce" target="_blank" rel="noopener noreferrer" href="https://www.tiny.cloud/get-tiny/" data-marketing="docs-nav-get-tiny">
  <svg class="get-tinymce-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
    <path fill="#222" fill-rule="evenodd"
      d="M8 12c-.3 0-.5-.1-.7-.3L1.6 6 3 4.6l4 4V0h2v8.6l4-4L14.4 6l-5.7 5.7c-.2.2-.4.3-.7.3zm-7 2h14v2H1v-2z">
  </svg>
  <span class="get-tinymce-text">Get TinyMCE</span>
</a>