<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}/tinymce/latest/">
        <img id="pc-logo" src="{{{uiRootPath}}}/img/tiny-white.svg" alt="Tiny logo" height="48px" style="padding: 10px 10px 10px 0px;"></a>
        <img id="mobile-logo" src="{{{uiRootPath}}}/img/tiny-white-sm.png" alt="Tiny logo"></a>
        {{> algolia-search}}
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="https://opentiny.mild.blue/">Home</a>
      </div>
    </div>
  </nav>
</header>
