<div class="nav-banner">
  <a href="https://www.tiny.cloud/auth/signup/" data-marketing="link-www.tiny.cloud-auth-signup">
    <img alt="Banner offering a free 14-day trial for the Professional Plan, encouraging users to sign up and experience enhanced capabilities with no initial commitment. A 'Start trial' button is displayed at the bottom" src="{{{@root.uiRootPath}}}/img/banners/promo-box.svg"/>
  </a>
</div>